body{
  width: 100%;
  height: 100%;
  background-image: url('/img/Group 631821.png');
  overflow: hidden;
}


.customer-log-in {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.customer-log-in .overlap-wrapper {
  overflow: hidden;
  width: 1920px;
  height: 945px;
}

@keyframes animate-enter-frames {
  from {
    opacity: 0;
    filter: blur(10px);
}
to {
    opacity: 1;
    filter: none;
}
}

@keyframes animate-enter1-frames {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.customer-log-in .overlap {
  position: relative;
  width: 2880px;
  height: 1024px;
}

.customer-log-in .group {
  position: absolute;
  width: 2880px;
  height: 1024px;
  top: 0;
  left: 0;
  opacity: 0;
  filter: blur(10px);
  animation: animate-enter-frames 1.00s ease-in-out 0.70s 1 normal forwards;
}

.customer-log-in .cover-backgrounds {
  position: absolute;
  width: 1440px;
  height: 945px;
  top: 0;
  left: 0;
}

.customer-log-in .img {
  position: absolute;
  width: 480px;
  height: 945px;
  top: 0;
  left: 1440px;
}

.customer-log-in .overlap-group-wrapper {
  position: absolute;
  width: 739px;
  height: 343px;
  top: 52px;
  left: 998px;
  opacity: 0;
  animation: animate-enter1-frames 2.00s ease-in-out 1.00s 1 normal forwards;
}

.customer-log-in .overlap-group {
  position: relative;
  width: 735px;
  height: 343px;
  background-image: url('/img/brush 1.png');
  background-size: 100% 100%;
}

.customer-log-in .text-wrapper {
  position: absolute;
  width: 446px;
  top: 109px;
  left: 143px;
  font-family: "Oliver", sans-serif;
  font-weight: 400;
  color: #21435b;
  font-size: 60px;
  text-align: center;
  letter-spacing: 3.00px;
  line-height: normal;
}

.customer-log-in .div {
  position: absolute;
  top: 180px;
  left: 272px;
  font-family: "Sora-Bold", Helvetica;
  font-weight: 700;
  color: #21435b;
  font-size: 30px;
  text-align: center;
  letter-spacing: 1.50px;
  line-height: normal;
}

.customer-log-in .rectangle {
  position: absolute;
  width: 665px;
  height: 814px;
  top: 77px;
  left: 118px;
}

.customer-log-in .group-2 {
  position: absolute;
  width: 476px;
  height: 268px;
  top: 325px;
  left: 213px;
}

.customer-log-in .group-3 {
  position: absolute;
  width: 478px;
  height: 118px;
  top: 0;
  left: 0;
}

.customer-log-in .text-wrapper-2 {
  position: absolute;
  width: 119px;
  top: 0;
  left: 4px;
  font-family: "Karla-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0.75px;
  line-height: normal;
}



.customer-log-in .group-4 {
  position: absolute;
  width: 478px;
  height: 119px;
  top: 148px;
  left: 0;
}

.customer-log-in .text-wrapper-3 {
  position: absolute;
  width: 196px;
  top: 0;
  left: 4px;
  font-family: "Karla-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0.75px;
  line-height: normal;
}


.customer-log-in .welcome-back-your {
  position: absolute;
  width: 545px;
  top: 145px;
  left: 181px;
  font-family: "Oliver", sans-serif;
  font-weight: 400;
  color: transparent;
  font-size: 34px;
  text-align: center;
  letter-spacing: 1.70px;
  line-height: 40px;
}

.customer-log-in .span {
  color: #a6926b;
  letter-spacing: 0.58px;
}

.customer-log-in .text-wrapper-4 {
  color: #d1cabd;
  letter-spacing: 0.58px;
}

.customer-log-in .text-wrapper-5 {
  color: #000000;
  letter-spacing: 0.58px;
}

.customer-log-in .div-wrapper {
  position: relative;
  width: 251px;
  height: 61px;
  top: 745px;
  left: 326px;
border: none;

  border-radius: 50px;
  color: #FEFFF8;
  background-color: #d1cabd;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.customer-log-in .div-wrapper:hover {
  background-color: #CFC5B3;  /* Pink color when hovered */
  transform: scale(1.05);      /* Slightly enlarges the button */
}


.customer-log-in .overlap-2 {
  position: relative;
  width: 249px;
  height: 61px;
  border-radius: 50px;
}

.customer-log-in .text-wrapper-6 {
  position: absolute;
  width: 79px;
  top: 14px;
  left: 85px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.75px;
  line-height: normal;
  border: none;

}




.customer-log-in .ellipse {
  top: 113px;
  left: 163px;
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: #d1cabd;
  border-radius: 9.31px;
  border-color: #ffffff;
}

.customer-log-in .ellipse-2 {
  top: 113px;
  left: 722px;
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: #d1cabd;
  border-radius: 9.31px;
  border-color: #ffffff;
}

.customer-log-in .ellipse-3 {
  top: 826px;
  left: 163px;
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: #d1cabd;
  border-radius: 9.31px;
  border: 1px dashed;
  border-color: #ffffff;
}

.customer-log-in .ellipse-4 {
  top: 826px;
  left: 722px;
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: #d1cabd;
  border-radius: 9.31px;
  border: 1px dashed;
  border-color: #ffffff;
}

.customer-log-in .group-5 {
  position: absolute;
  width: 231px;
  height: 167px;
  top: 691px;
  left: 1264px;
  cursor:pointer;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Add ease-in-out effect */
}

.customer-log-in .group-5:hover {
  transform: scale(1.1);
}

.customer-log-in .overlap-3 {
  position: relative;
  width: 227px;
  height: 167px;
}

.customer-log-in .vector {
  position: absolute;
  width: 187px;
  height: 167px;
  top: 0;
  left: 18px;
}



.customer-log-in .text-wrapper-7 {
  position: absolute;
  width: 227px;
  top: 85px;
  left: 0;
  font-family: "Last Christmas", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1.20px;
  line-height: normal;
}

.customer-log-in .text-wrapper-8 {
  position: absolute;
  width: 227px;
  top: 49px;
  left: 0;
  font-family: "Oliver", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: 2.00px;
  line-height: normal;
  white-space: nowrap;
  text-decoration: none;
}




.customer-log-in .group-6 {
  position: absolute;
  width: 1152px;
  height: 249px;
  top: 401px;
  left: 768px;
  object-fit: cover;
}


@font-face {
  font-family: 'Oliver'; /* The name you'll use in your CSS */
  src:url('/fonts/Oliver-Regular.ttf') format('truetype'); /* Older fallback */
  font-weight: normal; /* Optional: Specify weight */
  font-style: normal; /* Optional: Specify style */
}

@font-face {
  font-family: 'Winkle';
  src: url('/fonts/Winkle-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Last Christmas';
  src: url('/fonts/LastChristmas.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.customer-log-in .rectangle-2 {
  position: absolute;
  width: 476px;
  height: 70px;
  top: 48px;
  left: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid;
  border-color: #000000;
  font-family: 'Winkle',sans-serif;
  font-size: 22px;
  padding-left: 15px; /* Adds space to the left of the text */
  color: #CFC5B3;
  box-shadow: inset 0px 4px 4px #00000040;
}



.customer-log-in .rectangle-3{
  position: absolute;
  width: 476px;
  height: 70px;
  top: 49px;
  left: 0;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid;
  border-color: #000000;
  font-family: 'Winkle',sans-serif;
  font-size: 22px;
  padding-left: 15px; /* Adds space to the left of the text */
  color: #CFC5B3;
  box-shadow: inset 0px 4px 4px #00000040;
}


.customer-log-in .rectangle-2:focus,
.customer-log-in .rectangle-3:focus{
  border: 3px solid #CFC5B3; /* Pink border */
  outline: none;
  
}