.empty-order-page {
    background-color: #fffbf3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  body{
    width: 100%;
    height: auto;
    background-color: #FFFBF3;
    overflow-x: hidden;
  }
  
  .empty-order-page .div {
    background-color: #fffbf3;
    width: 1920px;
    height: 2341px;
    position: relative;
  }
  
  .empty-order-page .maison-burro-logo {
    position: absolute;
    width: 250px;
    height: 180px;
    top: 55px;
    left: 835px;
    object-fit: cover;
  }
  
  .empty-order-page .group {
    position: absolute;
    width: 1192px;
    height: 119px;
    top: 284px;
    left: 172px;
  }
  
  .empty-order-page .overlap {
    position: relative;
    width: 1194px;
    height: 121px;
    top: -1px;
    left: -1px;
    background-image: url("/img/vector 2527.png");
    background-size: 100% 100%;
  }
  
  .empty-order-page .vector {
    position: absolute;
    width: 1169px;
    height: 103px;
    top: 9px;
    left: 13px;
  }
  
  .empty-order-page .img {
    position: absolute;
    width: 1147px;
    height: 85px;
    top: 18px;
    left: 26px;
  }
  
  .empty-order-page .group-2 {
    position: absolute;
    width: 984px;
    height: 52px;
    top: 34px;
    left: 121px;
  }
  
  .empty-order-page .page {
    position: absolute;
    width: 146px;
    height: 51px;
    top: 1px;
    left: 0;
  }
  
  .empty-order-page .text-wrapper {
    position: absolute;
    width: 140px;
    top: 4px;
    left: 3px;
    font-family: "Oliver", sans-serif;
    font-weight: 400;
    color: #28385a;
    font-size: 31px;
    text-align: center;
    letter-spacing: 1.55px;
    line-height: normal;
  }
  
  .empty-order-page .home-wrapper {
    width: 159px;
    top: 31px;
    left: 310px;
    position: absolute;
    height: 51px;
  }
  
  .empty-order-page .home {
    position: absolute;
    width: 153px;
    top: 4px;
    left: 3px;
    font-family: "Oliver", Helvetica;
    font-weight: 400;
    color: #28385a;
    font-size: 31px;
    text-align: center;
    letter-spacing: 1.55px;
    line-height: normal;
  }
  
  .empty-order-page .overlap-group-wrapper {
    width: 177px;
    top: 30px;
    left: 837px;
    position: absolute;
    height: 51px;
  }
  
  .empty-order-page .overlap-group {
    position: relative;
    width: 285px;
    height: 51px;
    left: -53px;
  }
  
  .empty-order-page .ellipse {
    position: absolute;
    width: 176px;
    height: 48px;
    top: 1px;
    left: 54px;
    background-color: #28385a;
    border-radius: 87.93px / 24.05px;
    transform: rotate(-0.95deg);
  }
  
  .empty-order-page .home-2 {
    width: 285px;
    left: 0;
    color: #ffffff;
    position: absolute;
    top: 4px;
    font-family: "Oliver", Helvetica;
    font-weight: 400;
    font-size: 31px;
    text-align: center;
    letter-spacing: 1.55px;
    line-height: normal;
  }
  
  .empty-order-page .div-wrapper {
    width: 254px;
    top: 30px;
    left: 511px;
    position: absolute;
    height: 51px;
  }
  
  .empty-order-page .home-3 {
    width: 244px;
    left: 5px;
    color: #28385a;
    position: absolute;
    top: 4px;
    font-family: "Oliver", Helvetica;
    font-weight: 400;
    font-size: 31px;
    text-align: center;
    letter-spacing: 1.55px;
    line-height: normal;
  }
  
  .empty-order-page .group-3 {
    position: absolute;
    width: 157px;
    height: 112px;
    top: 288px;
    left: 1434px;
  }
  
  .empty-order-page .group-4 {
    position: absolute;
    width: 52px;
    height: 71px;
    top: 0;
    left: 52px;
    object-fit: cover;
  }
  
  .empty-order-page .group-wrapper {
    position: absolute;
    width: 157px;
    height: 34px;
    top: 78px;
    left: 0;
  }
  
  .empty-order-page .group-5 {
    position: relative;
    width: 159px;
    height: 34px;
  }
  
  .empty-order-page .text-wrapper-2 {
    position: absolute;
    width: 157px;
    top: 0;
    left: 0;
    font-family: "Oliver", Helvetica;
    font-weight: 400;
    color: #21435b;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1.50px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .empty-order-page .group-6 {
    position: absolute;
    width: 86px;
    height: 110px;
    top: 289px;
    left: 1661px;
  }
  
  .empty-order-page .group-7 {
    position: absolute;
    width: 86px;
    height: 70px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .empty-order-page .group-8 {
    position: absolute;
    width: 82px;
    height: 32px;
    top: 78px;
    left: 6px;
  }
  
  .empty-order-page .text-wrapper-3 {
    position: absolute;
    width: 80px;
    top: 0;
    left: 0;
    font-family: "Oliver", Helvetica;
    font-weight: 400;
    color: #28385a;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1.50px;
    line-height: normal;
    white-space: nowrap;
  }

  a{
    text-decoration: none;
  }

  .page:hover{
    border: 3px solid #28385A; /* Black border, adjust color and thickness */
    border-radius: 50%; /* Makes the border circular */
    transform: rotate(-3deg); /* Tilt the border */
    padding-bottom:2px;
    padding-top:2px;
cursor:pointer;
  }

  .home:hover{
    border: 3px solid #28385A; /* Black border, adjust color and thickness */
    border-radius: 50%; /* Makes the border circular */
    transform: rotate(2deg); /* Tilt the border */
    padding:3px;

cursor:pointer;
  }

  .sidelogo{
    height: auto;
    position: relative;
    top:155px;
  }

 .socialz{
    left:339px;
    position: relative;
  }
  
  .follow{
    font-family: 'Oliver',sans-serif;
    font-size:26px ;
    position: relative;
    left: 360px;
    color:#FFFBF3;
  }

  .home-3:hover{
    border: 3px solid #28385A; /* Black border, adjust color and thickness */
    border-radius: 50%; /* Makes the border circular */
    transform: rotate(-2deg); /* Tilt the border */
    padding:3px;
    padding-bottom:4px;

cursor:pointer;
  }

  
  .empty-order-page .footer {
    position: absolute;
    width: 100%;
    height: 463px;
    top: 1886px;
    left: -8px;
    background-color: #4f596c;
  }
  
  .empty-order-page .overlap-2 {
    position: relative;
    width: 1511px;
    height: 420px;
    top: 18px;
    left: 204px;
  }
  
  .empty-order-page .group-9 {
    position: absolute;
    width: 1511px;
    height: 411px;
    top: 9px;
    left: 0;
  }
  
  .empty-order-page .group-10 {
    position: absolute;
    width: 170px;
    height: 157px;
    top: 201px;
    left: 284px;
  }
  
  .empty-order-page .text-wrapper-4 {
    position: absolute;
    width: 114px;
    top: 0;
    left: 0;
    font-family: "Oliver", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1.00px;
    line-height: normal;
    text-decoration: underline;
  }
  
  .empty-order-page .text-wrapper-5 {
    position: absolute;
    width: 61px;
    top: 43px;
    left: 0;
    font-family: "Oliver", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1.00px;
    line-height: normal;
    text-decoration: underline;
  }
  
  .empty-order-page .text-wrapper-6 {
    position: absolute;
    width: 145px;
    top: 86px;
    left: 0;
    font-family: "Oliver", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1.00px;
    line-height: normal;
    text-decoration: underline;
  }
  
  .empty-order-page .text-wrapper-7 {
    position: absolute;
    width: 162px;
    top: 130px;
    left: 0;
    font-family: "Oliver", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1.00px;
    line-height: normal;
    text-decoration: underline;
  }
  
  .empty-order-page .group-11 {
    position: absolute;
    width: 166px;
    height: 157px;
    top: 201px;
    left: 554px;
  }
  
  .empty-order-page .text-wrapper-8 {
    position: absolute;
    width: 98px;
    top: 0;
    left: 0;
    font-family: "Oliver", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1.00px;
    line-height: normal;
    text-decoration: underline;
  }
  
  .empty-order-page .text-wrapper-9 {
    position: absolute;
    width: 158px;
    top: 43px;
    left: 0;
    font-family: "Oliver", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1.00px;
    line-height: normal;
    text-decoration: underline;
  }
  
  .empty-order-page .text-wrapper-10 {
    position: absolute;
    width: 117px;
    top: 86px;
    left: 0;
    font-family: "Oliver", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1.00px;
    line-height: normal;
    text-decoration: underline;
  }
  
  .empty-order-page .text-wrapper-11 {
    position: absolute;
    width: 150px;
    top: 130px;
    left: 0;
    font-family: "Oliver", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1.00px;
    line-height: normal;
    text-decoration: underline;
  }
  
  .empty-order-page .group-12 {
    position: absolute;
    width: 310px;
    height: 167px;
    top: 201px;
    left: 821px;
  }
  
  .empty-order-page .group-13 {
    position: absolute;
    width: 268px;
    height: 61px;
    top: 106px;
    left: 8px;
  }
  
  .empty-order-page .overlap-group-2 {
    position: relative;
    width: 346px;
    height: 141px;
    top: -32px;
    left: -40px;
    background-image: url("/img/group 3.png");
    background-size: 100% 100%;
  }
  
  .empty-order-page .text-wrapper-12 {
    position: absolute;
    width: 257px;
    top: 42px;
    left: 44px;
    font-family: "Oliver", Helvetica;
    font-weight: 400;
    color: #4f596c;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1.50px;
    line-height: normal;
  }
  
  .empty-order-page .text-wrapper-13 {
    position: absolute;
    width: 182px;
    top: 51px;
    left: 47px;
    font-family: "Oliver", Helvetica;
    font-weight: 400;
    color: #fffbf3;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .empty-order-page .text-wrapper-14 {
    position: absolute;
    width: 259px;
    top: 4px;
    left: 47px;
    font-family: "Oliver", Helvetica;
    font-weight: 400;
    color: #fffbf3;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .empty-order-page .overlap-wrapper {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 39px;
    left: 0;
  }
  
  .empty-order-page .image-wrapper {
    position: relative;
    width: 73px;
    height: 73px;
    top: -5px;
    left: -15px;
    background-image: url("/img/social.png");
    background-size: 100% 100%;
  }
  
  .empty-order-page .image {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 5px;
    left: 15px;
    object-fit: cover;
  }
  
  .empty-order-page .group-14 {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 0;
    left: 6px;
  }
  
  .empty-order-page .icon-wrapper {
    position: relative;
    width: 73px;
    height: 73px;
    top: -12px;
    left: -20px;
    background-image: url("/img/social.png");
    background-size: 100% 100%;
  }
  
  .empty-order-page .icon {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 18px;
    left: 26px;
  }
  
  .empty-order-page .maison-burro-logo-2 {
    position: absolute;
    width: 197px;
    height: 155px;
    top: 0;
    left: 658px;
    object-fit: cover;
  }
  
  .empty-order-page .text-wrapper-15 {
    position: relative;
    width: 1068px;
    top: 593px;
    left: 174px;
    font-family: "Pretty Dahlia", cursive;
    font-weight: 400;
    color: #21435b;
    font-size: 150px;
    letter-spacing: 7.50px;
    line-height: normal;
  }

  @font-face {
    font-family: 'Pretty Dahlia';
    src: url('/fonts/Pretty Dahlia.otf') format('opentype');
  }
  


  
  .empty-order-page .overlap-3 {
    position: absolute;
    width: 1571px;
    height: 737px;
    top: 1021px;
    left: 175px;
    background-color: #ffffff;
    border-radius: 0px 0px 50px 50px;
    border: 2px solid;
    border-color: #28385a;
  }
  
  .empty-order-page .group-15 {
    position: relative;
    width: 323px;
    height: 416px;
    top: 159px;
    left: 623px;
  }
  
  .empty-order-page .group-16 {
    position: absolute;
    width: 319px;
    height: 299px;
    top: -1px;
    left: 0;
  }
  
  .empty-order-page .text-wrapper-16 {
    position: absolute;
    top: 395px;
    left: 72px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #a0a0a0;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.85px;
    line-height: normal;
  }
  
  .empty-order-page .text-wrapper-17 {
    position: absolute;
    top: 339px;
    left: 66px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #939090;
    font-size: 36px;
    text-align: center;
    letter-spacing: 1.80px;
    line-height: normal;
  }
  
  .empty-order-page .vector-2 {
    position: absolute;
    width: 198px;
    height: 237px;
    top: 0;
    left: 1722px;
  }
  
  .empty-order-page .vector-3 {
    position: absolute;
    width: 160px;
    height: 179px;
    top: 1678px;
    left: 0;
  }
  
  .empty-order-page .overlap-4 {
    position: absolute;
    width: 1571px;
    height: 116px;
    top: 812px;
    left: 175px;
    background-color: #ffffff;
    border-radius: 50px 50px 0px 0px;
    border: 2px solid;
    border-color: #28385a;
  }
  
  .empty-order-page .text-wrapper-18 {
    position: absolute;
    width: 484px;
    top: 14px;
    left: 32px;
    font-family: "Abhaya Libre", serif;
    font-weight: 900;
    color: #21435b;
    font-size: 70px;
    letter-spacing: 3.50px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .empty-order-page .overlap-5 {
    position: absolute;
    width: 1571px;
    height: 83px;
    top: 938px;
    left: 175px;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #28385a;
  }
  
  .empty-order-page .text-wrapper-19 {
    position: absolute;
    width: 85px;
    top: 5px;
    left: 32px;
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    color: #21435b;
    font-size: 40px;
    letter-spacing: 2.00px;
    line-height: normal;
  }
  
  .empty-order-page .text-wrapper-20 {
    position: absolute;
    width: 111px;
    top: 5px;
    left: 117px;
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    color: #21435b;
    font-size: 40px;
    text-align: center;
    letter-spacing: 2.00px;
    line-height: normal;
  }
  
  .empty-order-page .text-wrapper-21 {
    position: absolute;
    width: 257px;
    top: 5px;
    left: 342px;
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    color: #21435b;
    font-size: 40px;
    letter-spacing: 2.00px;
    line-height: normal;
  }
  
  .empty-order-page .text-wrapper-22 {
    left: 662px;
    position: absolute;
    width: 257px;
    top: 5px;
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    color: #21435b;
    font-size: 40px;
    text-align: center;
    letter-spacing: 2.00px;
    line-height: normal;
  }
  
  .empty-order-page .text-wrapper-23 {
    left: 1020px;
    position: absolute;
    width: 257px;
    top: 5px;
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    color: #21435b;
    font-size: 40px;
    text-align: center;
    letter-spacing: 2.00px;
    line-height: normal;
  }
  
  .empty-order-page .text-wrapper-24 {
    position: absolute;
    width: 193px;
    top: 5px;
    left: 1316px;
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    color: #21435b;
    font-size: 40px;
    text-align: right;
    letter-spacing: 2.00px;
    line-height: normal;
  }
  
  .empty-order-page .text-wrapper-25 {
    position: absolute;
    top: 452px;
    left: 196px;
    font-family: "Winkle", Helvetica;
    font-weight: 400;
    color: #485686;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  